body {
  color: #000000;
}

.topbar {
  background-color: #ffffff;
}

.topbar .topbar-logo img {
  height: 62px;
}

.topbar .topbar-nav .user-welcome {
  color: #000000;
}

.topbar .topbar-nav .user-thumb {
  background: -webkit-linear-gradient(90deg, #50bd8c 0%, #07bcc3 54%, #21bbee 100%);
}

.topbar .topbar-nav .user-thumb:hover,
.topbar .topbar-nav .user-thumb:focus {
  color: #fff;
  background: -webkit-linear-gradient(90deg, #50bd8c 0%, #07bcc3 54%, #21bbee 100%);
}

.card-innr {
  padding: 20px 25px 12px;
}

a {
  color: #000000;
}

.note-danger p,
.note-danger .note-text {
  color: #e54820 !important;
}

.note-danger p [class*=fa],
.note-danger .note-text [class*=fa] {
  color: #e54820 !important;
}

.note-info p,
.note-info .note-text {
  background: -webkit-linear-gradient(90deg, #50bd8c 0%, #07bcc3 54%, #21bbee 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.note-info [class*=fa],
.note-light [class*=fa] {
  background: -webkit-linear-gradient(90deg, #50bd8c 0%, #07bcc3 54%, #21bbee 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.note-danger [class*=fa] {
  color: #e54820 !important;
}

.total-amount-lead {
  color: #4ebc8c;
  background: -webkit-linear-gradient(90deg, #4ebc8c 0%, #05bcc3 50%, #1ebbee 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-primary {
  color: #4ebc8c;
  background: -webkit-linear-gradient(90deg, #4ebc8c 0%, #05bcc3 50%, #1ebbee 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4 span {
  color: #4ebc8c;
  background: -webkit-linear-gradient(90deg, #4ebc8c 0%, #05bcc3 50%, #1ebbee 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.popup-body .lead strong,
.popup-body .lead span {
  color: #4ebc8c;
  background: -webkit-linear-gradient(90deg, #4ebc8c 0%, #05bcc3 50%, #1ebbee 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pay-check:checked ~ label {
  color: #05bcc3;
  border-color: #05bcc3;
  background: -webkit-linear-gradient(90deg, #4ebc8c 0%, #05bcc3 50%, #1ebbee 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pay-check:checked ~ label:before {
  border-color: #4ebc8c;
}

.pay-check:checked ~ label:after {
  background: -webkit-linear-gradient(90deg, #4ebc8c 0%, #05bcc3 50%, #1ebbee 100%);
}

.btn-primary {
  background: transparent !important;
  background-color: transparent !important;
  border: none;
  padding: 2px;
  transition: none;
  -webkit-transition: none;
}

.btn-primary:before {
  content: "";
  position: absolute;
  background: -webkit-linear-gradient(90deg, #50bd8c 0%, #07bcc3 54%, #21bbee 100%);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 6px;
  opacity: 1;
}

.btn-primary > span {
  background: #ffffff;
  display: block;
  position: relative;
  border-radius: 4px;
  padding: 8px 20px;
  -webkit-transition: all 0.2s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  color: #000;
}

.btn-primary:disabled > span,
.btn-primary:hover > span,
.btn-primary:focus > span,
.btn-primary:active > span {
  background-image: -webkit-linear-gradient(270deg, #50bd8c 0%, #07bcc3 54%, #21bbee 100%);
  color: #fff;
}

.btn-primary:disabled:before,
.btn-primary:hover:before,
.btn-primary:focus:before,
.btn-primary:active:before {
  opacity: 0.2 !important;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #311cfd;
  border-color: #4ebc8c;
}

.btn-warning {
  background-color: #e5ab20;
  border-color: #e5ab20;
}

.btn-success {
  border-color: #33bd5b;
  background-color: #33bd5b;
}

.btn-outline {
  background: transparent;
}

.btn-outline.btn-danger {
  border-color: #e54820;
  color: #000;
}

.btn-outline.btn-danger:hover,
.btn-outline.btn-danger:active,
.btn-outline.btn-danger:focus {
  color: #e54820 !important;
  border-color: #e54820;
}

.btn-outline.btn-warning {
  border-color: #e5ab20;
  color: #000;
}

.btn-outline.btn-warning:hover,
.btn-outline.btn-warning:active {
  color: #e5ab20;
}

.btn-outline.btn-success {
  border-color: #33bd5b;
  color: #000000;
}

.btn-outline.btn-success:hover,
.btn-outline.btn-success:active {
  color: #33bd5b;
}

.btn-add-user-wallet {
  padding: 0px 12px;
  border: 1px solid #000;
  border-radius: 4px;
  line-height: 20px;
}

.progress-percent:after {
  border-color: #50bd8c;
}

.card-shadow {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.pay-option-label {
  background: rgba(181, 187, 200, 0.05);
}

.bonus-bar .bonus-base {
  background: -webkit-linear-gradient(90deg, #50bd8c 0%, #07bcc3 54%, #21bbee 100%);
}

.alert-danger {
  color: #000;
  background: transparent;
  border: 1px solid #ff6868;
}

.alert-danger .close {
  background: transparent;
  /* border: 1px solid #e54820; */
  box-shadow: none;
  opacity: 1;
  color: #000;
}

.alert-danger .close:not(:disabled):not(.disabled):focus,
.alert-danger .close:not(:disabled):not(.disabled):hover {
  box-shadow: none;
  outline: none;
  opacity: 1;
  border-color: transparent;
  color: #e54820;
}

.pay-option-label {
  padding: 2px;
  display: inline-block;
  border: none;
  position: relative;
}

.pay-option-label > span {
  background: #ffffff;
  position: relative;
  border-radius: 4px;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 10px 20px;
}

.pay-option-label:before {
  content: "";
  position: absolute;
  background: #e6effb;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 6px;
  opacity: 1;
}

.pay-option-check:checked ~ label {
  position: relative;
  border: none;
}

.pay-option-check:checked ~ label:before {
  background: -webkit-linear-gradient(90deg, #50bd8c 0%, #07bcc3 54%, #21bbee 100%);
}

.pay-option-check:checked ~ label:after {
  background: -webkit-linear-gradient(270deg, #50bd8c 0%, #07bcc3 54%, #21bbee 100%);
  right: -12px;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.document-type ~ label {
  padding: 2px;
  border: none;
  position: relative;
}

.document-type ~ label > span {
  background: #ffffff;
  position: relative;
  border-radius: 4px;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  padding: 10px 48px 10px 16px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 0;
}

.document-type ~ label:before {
  content: "";
  position: absolute;
  background: transparent;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 6px;
  opacity: 1;
}

.document-type ~ label:after {
  background: -webkit-linear-gradient(90deg, #50bd8c 0%, #07bcc3 54%, #21bbee 100%);
}

.document-type:checked ~ label:before {
  background: -webkit-linear-gradient(90deg, #50bd8c 0%, #07bcc3 54%, #21bbee 100%);
}

.spinner {
  margin: 0;
  top: 50%;
  position: fixed;
  left: 50%;
  margin-left: -35px;
  margin-top: -14px;
  width: 70px;
  text-align: center;
}

.spinner .sp {
  width: 18px;
  height: 18px;
  background: -webkit-linear-gradient(90deg, #50bd8c 0%, #07bcc3 54%, #21bbee 100%);
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: spining 1.4s infinite ease-in-out both;
          animation: spining 1.4s infinite ease-in-out both;
}

.spinner .sp1 {
  -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
}

.spinner .sp2 {
  -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
}

.bounty .bounty-panel {
  border: none;
}

