.add_text {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bounty {
  width: 100%;
}
.bounty_header {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.bounty_form {
  margin-top: 20px;
}

.bounty_title {
  font-weight: bold;
  font-size: 30px;
  margin-left: 40px;
  margin-top: 10px;
  margin-right: 30px;
}

.image-hover-zoom {
  width: 100px;
  height: 120px;
  overflow: hidden;
  transition: 0.5s ease;
}
.image-hover-zoom:hover {
  transition: scale(1.5);
  width: 130px;
  height: 130px;
}
.bounty-other-card-image {
  position: absolute;
  left: -47px;
  top: -50px;
  width: 80px;
  height: 80px;
  transition: 0.5s ease;
}

// .bounty-other-card-image:hover {
//   transition: scale(1.2);
//   width: 85px;
//   height: 85px;
// }

.bounty-card-group {
  /* margin-top: 8rem; */
  justify-content: space-between;
}
.bounty-card {
  border-radius: 25px;
  height: 9rem !important;
  /* width: 16rem !important; */
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  align-content: center;
  cursor: pointer;
  position: relative;
  background: #fff;
}

.bounty-card::after {
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  background: linear-gradient(45deg, #4ebc8c, #3fcdf4);
  border-radius: 29px;
  z-index: -1;
  content: "";
}

.col-4 .inner-card {
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  border-radius: 25px;
}

.bounty-card:hover {
  box-shadow: 5px 5px 20px #3fcdf4;
}

.bounty-card:hover .border-image {
  transition: scale(1.2);
  width: 110px;
  height: 110px;
}

.bounty-card:hover .bounty-other-card-image {
  transition: scale(1.2);
  width: 85px;
  height: 85px;
}

.bounty-card:hover .warning-message {
  display: block;
}
.warning-message {
  position: absolute;
  top: -40px;
  right: 0;
  font-weight: bold;
  font-size: 12px;
  color: gray;
  display: none;
}

.border-image {
  position: absolute;
  left: -70px;
  top: -70px;
  width: 100px;
  height: 100px;
  transition: 0.5s ease;
}

.bounty-other-card-group {
  display: inline-grid !important;
  justify-content: end;
}

.bounty-other-card {
  height: 7rem !important;
  width: 13.5rem;
  border: 2px solid #3fcdf4;
  margin-top: 40px;
}

.bounty-details {
  display: flex;
  justify-content: space-between;
}

.dotret_input {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.dotblue_input {
  height: 10px;
  width: 10px;
  background-color: #4ebc8c;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.dotred {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-flex;
}
.dotblue {
  height: 10px;
  width: 10px;
  background-color: #4ebc8c;
  border-radius: 50%;
  display: inline-flex;
  margin-left: 3px;
}

// Toggle Button
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  // background-color: #2196f3;
  background-image: linear-gradient(to right, #2196f3, #20c997);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.space_icon {
  width: 200px;
  height: 200px;
  overflow: hidden;
  transition: 0.5s ease;
}

.space_icon:hover {
  width: 210px;
  height: 210px;
  transition: scale(1.5);
}

.footer-buttons {
  display: flex;
  justify-content: flex-end;
}

.clearImagetext {
  background: -webkit-linear-gradient(
    90deg,
    #50bd8c 0%,
    #07bcc3 54%,
    #21bbee 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 20px;
}
