body {
  color: #000000;
}

// Topbar

.topbar {
  background-color: #ffffff;
  .topbar-logo {
    img {
      height: 62px;
    }
  }
  .topbar-nav {
    .user-welcome {
      color: #000000;
    }
    .user-thumb {
      background: -webkit-linear-gradient(
        90deg,
        #50bd8c 0%,
        #07bcc3 54%,
        #21bbee 100%
      );

      &:hover,
      &:focus {
        color: #fff;
        background: -webkit-linear-gradient(
          90deg,
          #50bd8c 0%,
          #07bcc3 54%,
          #21bbee 100%
        );
      }
    }
  }
}

// Card Custom

.card-innr {
  padding: 20px 25px 12px;
}

// Text Color Custom

a {
  color: #000000;
}

.note-danger p,
.note-danger .note-text {
  color: #e54820 !important;
  [class*="fa"] {
    color: #e54820 !important;
  }
}

.note-info p,
.note-info .note-text {
  background: -webkit-linear-gradient(
    90deg,
    #50bd8c 0%,
    #07bcc3 54%,
    #21bbee 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.note-info [class*="fa"],
.note-light [class*="fa"] {
  background: -webkit-linear-gradient(
    90deg,
    #50bd8c 0%,
    #07bcc3 54%,
    #21bbee 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.note-danger [class*="fa"] {
  color: #e54820 !important;
}

.total-amount-lead {
  color: #4ebc8c;
  background: -webkit-linear-gradient(
    90deg,
    #4ebc8c 0%,
    #05bcc3 50%,
    #1ebbee 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-primary {
  color: #4ebc8c;
  background: -webkit-linear-gradient(
    90deg,
    #4ebc8c 0%,
    #05bcc3 50%,
    #1ebbee 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4 {
  span {
    color: #4ebc8c;
    background: -webkit-linear-gradient(
      90deg,
      #4ebc8c 0%,
      #05bcc3 50%,
      #1ebbee 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.popup-body .lead strong,
.popup-body .lead span {
  color: #4ebc8c;
  background: -webkit-linear-gradient(
    90deg,
    #4ebc8c 0%,
    #05bcc3 50%,
    #1ebbee 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pay-check:checked ~ label {
  color: #05bcc3;
  border-color: #05bcc3;
  background: -webkit-linear-gradient(
    90deg,
    #4ebc8c 0%,
    #05bcc3 50%,
    #1ebbee 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  &:before {
    border-color: #4ebc8c;
  }
  &:after {
    background: -webkit-linear-gradient(
      90deg,
      #4ebc8c 0%,
      #05bcc3 50%,
      #1ebbee 100%
    );
  }
}

// Btn Custom

.btn-primary {
  background: transparent !important;
  background-color: transparent !important;
  border: none;
  padding: 2px;
  transition: none;
  -webkit-transition: none;

  &:before {
    content: "";
    position: absolute;
    background: -webkit-linear-gradient(
      90deg,
      #50bd8c 0%,
      #07bcc3 54%,
      #21bbee 100%
    );
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 6px;
    opacity: 1;
  }
  > span {
    background: #ffffff;
    display: block;
    position: relative;
    border-radius: 4px;
    padding: 8px 20px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.15s ease;
    color: #000;
  }

  &:disabled,
  &:hover,
  &:focus,
  &:active {
    > span {
      background-image: -webkit-linear-gradient(
        270deg,
        rgba(80, 189, 140, 1) 0%,
        rgba(7, 188, 195, 1) 54%,
        rgba(33, 187, 238, 1) 100%
      );
      color: #fff;
    }
    &:before {
      opacity: 0.2 !important;
    }
  }
}

.btn-primary:not(:disabled):not(.disabled) {
  &.active,
  &:active {
    background-color: #311cfd;
    border-color: #4ebc8c;
  }
}

.btn-warning {
  background-color: #e5ab20;
  border-color: #e5ab20;
}

.btn-success {
  border-color: #33bd5b;
  background-color: #33bd5b;
}

.btn-outline {
  background: transparent;
  &.btn-danger {
    border-color: #e54820;
    color: #000;
    &:hover,
    &:active,
    &:focus {
      color: #e54820 !important;
      border-color: #e54820;
    }
  }
  &.btn-warning {
    border-color: #e5ab20;
    color: #000;
    &:hover,
    &:active {
      color: #e5ab20;
    }
  }

  &.btn-success {
    border-color: #33bd5b;
    color: #000000;
    &:hover,
    &:active {
      color: #33bd5b;
    }
  }
}

.btn-add-user-wallet {
  padding: 0px 12px;
  border: 1px solid #000;
  border-radius: 4px;
  line-height: 20px;
}

// Progress Custom

.progress-percent {
  &:after {
    border-color: #50bd8c;
  }
}

// Box Shadow
.card-shadow {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

// Buy Token

.pay-option-label {
  background: rgba(181, 187, 200, 0.05);
}

// Bouns Bar
.bonus-bar {
  .bonus-base {
    background: -webkit-linear-gradient(
      90deg,
      #50bd8c 0%,
      #07bcc3 54%,
      #21bbee 100%
    );
  }
}

// Alert Bar
.alert-danger {
  color: #000;
  background: transparent;
  border: 1px solid #ff6868;
  .close {
    background: transparent;
    /* border: 1px solid #e54820; */
    box-shadow: none;
    opacity: 1;
    color: #000;
    &:not(:disabled):not(.disabled):focus,
    &:not(:disabled):not(.disabled):hover {
      box-shadow: none;
      outline: none;
      opacity: 1;
      border-color: transparent;
      color: rgba(229, 72, 32, 1);
    }
  }
}

// Pay Option
.pay-option-label {
  padding: 2px;
  display: inline-block;
  border: none;
  position: relative;
  > span {
    background: #ffffff;
    position: relative;
    border-radius: 4px;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 10px 20px;
  }
  &:before {
    content: "";
    position: absolute;
    background: #e6effb;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 6px;
    opacity: 1;
  }
}
.pay-option-check {
  &:checked ~ label {
    position: relative;
    border: none;
    &:before {
      background: -webkit-linear-gradient(
        90deg,
        #50bd8c 0%,
        #07bcc3 54%,
        #21bbee 100%
      );
    }
    &:after {
      background: -webkit-linear-gradient(
        270deg,
        rgba(80, 189, 140, 1) 0%,
        rgba(7, 188, 195, 1) 54%,
        rgba(33, 187, 238, 1) 100%
      );
      right: -12px;
      transition: all 0.15s ease;
    }
  }
}

// KYC Application

.document-type {
  & ~ label {
    padding: 2px;
    border: none;
    position: relative;
    & > span {
      background: #ffffff;
      position: relative;
      border-radius: 4px;
      -webkit-transition: all 0.15s ease;
      transition: all 0.15s ease;
      padding: 10px 48px 10px 16px;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      cursor: pointer;
      margin-bottom: 0;
    }
    &:before {
      content: "";
      position: absolute;
      background: transparent;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 6px;
      opacity: 1;
    }
    &:after {
      background: -webkit-linear-gradient(
        90deg,
        #50bd8c 0%,
        #07bcc3 54%,
        #21bbee 100%
      );
    }
  }
  &:checked ~ label {
    &:before {
      background: -webkit-linear-gradient(
        90deg,
        #50bd8c 0%,
        #07bcc3 54%,
        #21bbee 100%
      );
    }
  }
}

// Spinner

.spinner {
  margin: 0;
  top: 50%;
  position: fixed;
  left: 50%;
  margin-left: -35px;
  margin-top: -14px;
  width: 70px;
  text-align: center;

  .sp {
    width: 18px;
    height: 18px;
    background: -webkit-linear-gradient(
      90deg,
      #50bd8c 0%,
      #07bcc3 54%,
      #21bbee 100%
    );
    border-radius: 100%;
    display: inline-block;
    animation: spining 1.4s infinite ease-in-out both;
  }

  .sp1 {
    animation-delay: -0.32s;
  }

  .sp2 {
    animation-delay: -0.16s;
  }
}

// bounty

.bounty {
  .bounty-panel {
    border: none;
  }
}
